@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------

　　初期設定

  ----------------------------------------------------------------------------------------------------------*/

html, body {
	height:100%;
    margin: 0;
}

a, button {
    cursor: pointer;
}

.wrap {
    margin: 0 20px 0 2px;
}

/*----------------------------------------------------------------------------------------------------------

　　WIX Detail Setting

  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#contents {
    clear: both;
    /*overflow: hidden;*/
    background: #f7f7f7;
    width: 96.2%;
    height: 80vh;
    padding: 20px;
}
.tabbox {
    display: none;
}

/* ウィンドウタブ部分 */
ul#tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#tab li:last-child {
    background: none;
}
ul#tab li a {
    display: block;
    width: 138px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#tab li.active,
ul#tab li.active a,
ul#tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* モーダルウィンドウ部分 */


#popButtonDiv {
    width:100%;
    height:8%;
}
#popButtonDiv button, #popButtonDiv input[type="submit"]{
    width:20%;
    height:60%;
    padding: 5px auto;
    margin: 15px 30px;


    font-size: 10pt;
    font-weight: bold;
    background-color: #248;
    color: #fff;
    border-style: none;

}


/*----------------------------------------------------------------------------------------------------------
　　Tab 1
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#createdDoc {
    width: 22%;
    float: left;
}
#createdDoc {
    width: 20%;
    float: left;
}
.doc_tabbox {
    display: none;
    width: 100%;
}
#wixfile_entry_decide_contents {
    width: 34%;
    height: 100%;
    float: left;
    margin-left: 2%;
}
.decide_entrys_tabbox {
    display: none;
    width: 100%;
}
#decide_iframe {
    float: left;
    width: 41%;
    height: 100%;
    margin-left: 2.5%;
}
#existing_latest_decidefile {
    float: left;
    width: 41%;
    height: 20vh;
    margin-left: 2.5%;
    margin-top: 1%;
    border : 1px solid blue;
}


/* ドキュメントタブ部分*/
ul#doc_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
}
ul#doc_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#doc_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#doc_tab li:last-child {
    background: none;
}
ul#doc_tab li a {
    display: block;
    width: 102px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#doc_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#doc_tab li.active,
ul#doc_tab li.active a,
ul#doc_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* ドキュメントリスト部分 */
#doc_list {
    clear: both;
    width: 100%;
    height: 76vh;
    overflow: auto;
}
.doc_table {
    width: 100%;
    table-layout:fixed;
}
.doc_table .doc_table_heading {
    text-align: left;
    width: 100%;
}

/* エントリ推薦タブ部分 */
ul#decide_entrys_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;

    font-size: 10pt;
}
ul#decide_entrys_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#decide_entrys_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#decide_entrys_tab li:last-child {
    background: none;
}
ul#decide_entrys_tab li a {
    display: block;
    width: 98px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#decide_entrys_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#decide_entrys_tab li.active,
ul#decide_entrys_tab li.active a,
ul#decide_entrys_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* Decide部分 */
#decide_entrys {
    clear: both;
    width: 100%;
    height: 71vh;
    overflow: auto;
}
#decide_entrys_table {
    width: 100%;
}
#decide_entrys_table thead, #decide_entrys_table tbody {
    width: 100%;
}
#decide_entrys_table thead #thead_keywords {
    width: 30%;
}
#decide_entrys_table thead #thead_targets {
    width: 60%;
}
#decide_entrys_table thead #thead_default {
    width: 10%;
}
#decide_entrys_table tbody {
    width: 100%;
}
#decide_entrys_table tbody tr {
    width: 100%;
}
#decide_entrys_table tbody tr td .decide_entrys_tabbox {
    width: 100%;
}
#decide_entrys_table tbody tr td .decide_entrys_tabbox table {
    width: 100%;
}
#decide_entrys_table tbody tr td .decide_entrys_tabbox table tr {
    width: 100%;
}
#add_wixfile {
    float: right;
    margin-top: 3%;
}

/* インラインフレーム部分 */
#decide_iframe_inline_div {
    width: 100%;
    height: 60vh;
}
#decide_iframe_inline_div #doc_iframe {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(1);
    -ms-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}




/*----------------------------------------------------------------------------------------------------------
　　Tab 2
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#tab2 {
    clear: both;
    overflow: auto;
}



/*----------------------------------------------------------------------------------------------------------

　　WIX Similarity

  ----------------------------------------------------------------------------------------------------------*/

.left{
    float: left;
    width: 30%;
    height: 100%;
    font-size: 10pt;
    overflow: hidden;
    border: 1px solid white;
}
#wix_similarity_form {
    height: 90vh;
    width: 100%;
    overflow: auto;
}
#wix_similarity_form a{
    text-decoration: none;
}



.top{
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#frame-box {
    width: 100%;
    height: 40vh;
}
#frame-page {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}


.bottom {
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#bottom_contents {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}
#similarity_info {
    float: left;
    width: 60%;
    height: 50vh;
    border: 1px solid blue;
    overflow: auto;
}
#similarity_entrys {
    width: 100%;
}
#wixfile_info {
    width: 39%;
    height: 50vh;
    border: 1px solid red;
    overflow: auto;
}



.left table,.left th,.left td,.top table,.top th,.top td, .bottom table,.bottom th,.bottom td{
    font-size:10pt;
}

/*.main h2,.main h3,.left h4,.right h4,.left h5,.right h5{
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    height:30px;
    line-height:30px;
    background-position:top left;
    background-repeat:no-repeat;
    overflow: hidden;
}*/

/*.left h4,.right h4{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./images/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/
/*.left h5,.right h5{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./image/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/




