@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------

　　初期設定

  ----------------------------------------------------------------------------------------------------------*/

html, body {
	height:100%;
    margin: 0;
}

a, button {
    cursor: pointer;
}

.wrap {
    margin: 0 20px 0 2px;
}

/*----------------------------------------------------------------------------------------------------------

　　WIX Detail Setting

  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#contents {
    clear: both;
    /*overflow: hidden;*/
    background: #f7f7f7;
    width: 96.2%;
    height: 80vh;
    padding: 20px;
}
.tabbox {
    display: none;
}

/* ウィンドウタブ部分 */
ul#tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#tab li:last-child {
    background: none;
}
ul#tab li a {
    display: block;
    width: 138px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#tab li.active,
ul#tab li.active a,
ul#tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* モーダルウィンドウ部分 */


#popButtonDiv {
    width:100%;
    height:8%;
}
#popButtonDiv button, #popButtonDiv input[type="submit"]{
    width:20%;
    height:60%;
    padding: 5px auto;
    margin: 15px 30px;


    font-size: 10pt;
    font-weight: bold;
    background-color: #248;
    color: #fff;
    border-style: none;

}


/*----------------------------------------------------------------------------------------------------------
　　Tab 1
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#createdDoc {
    width: 20%;
    float: left;
}
.doc_tabbox {
    display: none;
    width: 100%;
}
#wixfile_entry_decide_contents {
    width: 34%;
    height: 100%;
    float: left;
    margin-left: 2%;
}
.decide_entrys_tabbox {
    display: none;
    width: 100%;
}
#decide_iframe {
    float: left;
    width: 41%;
    height: 100%;
    margin-left: 2.5%;
}
#existing_latest_decidefile {
    float: left;
    width: 41%;
    height: 20vh;
    margin-left: 2.5%;
    margin-top: 1%;
    border : 1px solid blue;
}


/* ドキュメントタブ部分*/
ul#doc_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
}
ul#doc_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#doc_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#doc_tab li:last-child {
    background: none;
}
ul#doc_tab li a {
    display: block;
    width: 102px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#doc_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#doc_tab li.active,
ul#doc_tab li.active a,
ul#doc_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* ドキュメントリスト部分 */
#doc_list {
    clear: both;
    width: 100%;
    height: 76vh;
    overflow: auto;
}
.doc_table {
    width: 100%;
    table-layout:fixed;
}
.doc_table .doc_table_heading {
    text-align: left;
    width: 100%;
}

/* エントリ推薦タブ部分 */
ul#decide_entrys_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;

    font-size: 10pt;
}
ul#decide_entrys_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#decide_entrys_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#decide_entrys_tab li:last-child {
    background: none;
}
ul#decide_entrys_tab li a {
    display: block;
    width: 98px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#decide_entrys_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#decide_entrys_tab li.active,
ul#decide_entrys_tab li.active a,
ul#decide_entrys_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* Decide部分 */
#decide_entrys {
    clear: both;
    width: 100%;
    height: 71vh;
    overflow: auto;
}
#decide_entrys_table {
    width: 100%;
}
#decide_entrys_table tbody {
    width: 100%;
}
#tbody_tr {
    width: 100%;
}
#tbody_td {
    width: 100%;
}
#decide_entrys_tab1 {
    width: 100%;
}
#decide_entrys_tab1_table {
    width: 100%;
    /*table-layout: fixed;*/
}
#decide_entrys_tab1_table thead {
    width: 100%;
}
.thead_tr {
    width: 100%;
}
.thead_keywords {
    width: 35%;
}
.thead_targets {
    width: 65%;
}
.decide_entrys_tab1_table_tr {
    width: 100%;
}
.decide_entrys_tab1_table_keyword_td {
    width: 35%;
}
.decide_entrys_tab1_table_keyword_span {
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
.decide_entrys_tab1_table_targets_td {
    width: 65%;
}
#decide_entrys_tab1_table_targets_table {
    width: 100%;
}
.decide_entrys_tab1_table_targets_tr {
    width: 100%;
}
.decide_entrys_tab1_table_target_td {
    width: 93%;
}
.decide_entrys_tab1_table_target_a {
    width: 100%;
    overflow: auto;
}
.decide_entrys_tab1_table_target_radio_td {
    width: 7%;
}
.decide_entrys_tab1_table_target_radio_input {
    width: 100%;
    float: right;
}
#decide_entrys_tab2 {
    clear: both;
    width: 100%;
}
#decide_entrys_tab2_table {
    width: 100%;
}
#decide_entrys_tab2_table thead {
    width: 100%;
}
.decide_entrys_tab2_table_tr {
    width: 100%;
}
.decide_entrys_tab2_table_keyword_td {
    width: 35%;
}
.decide_entrys_tab2_table_keyword_span {
    width: 100%;
    cursor: pointer;
}
.decide_entrys_tab2_table_targets_td {
    width: 65%;
}
#decide_entrys_tab2_table_targets_table {
    width: 100%;
}
.decide_entrys_tab2_table_targets_tr {
    width: 100%;
}
.decide_entrys_tab2_table_target_td {
    width: 93%;
}
.decide_entrys_tab2_table_target_a {
    width: 100%;
    overflow: auto;
}
.decide_entrys_tab2_table_target_radio_td {
    width: 7%;
}
.decide_entrys_tab2_table_target_radio_input {
    width: 100%;
    float: right;
}
#decide_entrys_tab1_button, #decide_entrys_tab2_button {
    width: 33%;
    float: right;
    margin-top: 5%;
    font-size: 8pt;
    font-weight: bold;
    background-color: #ff0038;
    color: #fff;
    border-style: none;
}
#add_decidefile {
    float: right;
    margin-top: 3%;
}

/* モーダルウィンドウ部分 */


/* インラインフレーム部分 */
#decide_iframe_inline_div {
    width: 100%;
    height: 60vh;
}
#decide_iframe_inline_div #doc_iframe {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(1);
    -ms-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}




/*----------------------------------------------------------------------------------------------------------
　　Tab 2
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#tab2 {
    clear: both;
    overflow: auto;
}
#created_DecidefileDoc {
    width: 20%;
    float: left;
    /*border : 1px solid orange;*/
}
.decidefileDoc_tabbox {
    display: none;
    width: 100%;
}
#decidefile_latest_contents {
    width: 34%;
    height: 100%;
    float: left;
    margin-left: 2%;
    border : 1px solid red;
}
#decidefile_iframe {
    float: left;
    width: 41%;
    height: 100%;
    margin-left: 2.5%;
}
#decidefile_history_contents {
    float: left;
    width: 41%;
    height: 30vh;
    margin-left: 2.5%;
    margin-top: 1%;
    border : 1px solid blue;
}

/* ドキュメントタブ部分*/
ul#decidefileDoc_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
}
ul#decidefileDoc_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#decidefileDoc_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#decidefileDoc_tab li:last-child {
    background: none;
}
ul#decidefileDoc_tab li a {
    display: block;
    width: 102px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#decidefileDoc_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#decidefileDoc_tab li.active,
ul#decidefileDoc_tab li.active a,
ul#decidefileDoc_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* ドキュメントリスト部分 */
#decidefileDoc_list {
    clear: both;
    width: 100%;
    height: 76vh;
    overflow: auto;
}
.decidefileDoc_table {
    width: 100%;
    table-layout:fixed;
}
.decidefileDoc_table .decidefileDoc_table_heading {
    text-align: left;
    width: 100%;
}

/* 最新Decide情報部分 */
#decidefile_latest_table {
    clear: both;
    width: 100%;
    height: 80vh;
    overflow: auto;
}
#decidefile_latest_table_thead_tr {
    width: 100%;
}
#decidefile_latest_table_thead_th {
    width: 100%;
}
#decidefile_latest_table_tbody_tr {
    width: 100%;
}
#decidefile_latest_table_tbody_td {
    width: 100%;
    vertical-align: top;
}
.latest_decide_table {
    width: 100%;
}
.latest_decide_table {
    width: 100%;
}
.latest_decide_tr {
    width: 100%;
}
.latest_decide_keyword_td {
    width: 20%;
    font-size: 8pt;
}
.latest_decide_target_td {
    width: 45%;
}
.latest_decide_target_td_a {
    width: 100%;
    font-size: 8pt;
}
.latest_decide_surword_td {
    width: 35%;
    font-size: 8pt;
}

/* インラインフレーム部分 */
#decidefile_iframe_inline_div {
    width: 100%;
    height: 48vh;
}
#decidefile_iframe_inline_div #decidefileDoc_iframe {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(1);
    -ms-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

/* Decide履歴タブ部分 */
ul#decide_history_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
}
ul#decide_history_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#decide_history_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#decide_history_tab li:last-child {
    background: none;
}
ul#decide_history_tab li a {
    display: block;
    width: 50px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#decide_history_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#decide_history_tab li.active,
ul#decide_history_tab li.active a,
ul#decide_history_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* Decide履歴タブ部分 */
.decidefile_settings_form {
    display: none;
}
.update_decidefileButton {
    display: none;
}

/* Decide履歴部分 */
.decide_history_table_input {
    width: 33%;
    float: right;
    margin-top: 5%;
    margin-right: 2%;
    font-size: 8pt;
    font-weight: bold;
    background-color: #ff0038;
    color: #fff;
    border-style: none;
}


/*----------------------------------------------------------------------------------------------------------

　　WIX Similarity

  ----------------------------------------------------------------------------------------------------------*/
/*
.left{
    float: left;
    width: 30%;
    height: 100%;
    font-size: 10pt;
    overflow: hidden;
    border: 1px solid white;
}
#wix_similarity_form {
    height: 90vh;
    width: 100%;
    overflow: auto;
}
#wix_similarity_form a{
    text-decoration: none;
}



.top{
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#frame-box {
    width: 100%;
    height: 40vh;
}
#frame-page {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}


.bottom {
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#bottom_contents {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}
#similarity_info {
    float: left;
    width: 60%;
    height: 50vh;
    border: 1px solid blue;
    overflow: auto;
}
#similarity_entrys {
    width: 100%;
}
#wixfile_info {
    width: 39%;
    height: 50vh;
    border: 1px solid red;
    overflow: auto;
}



.left table,.left th,.left td,.top table,.top th,.top td, .bottom table,.bottom th,.bottom td{
    font-size:10pt;
}
*/


