@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------

　　初期設定

  ----------------------------------------------------------------------------------------------------------*/

html, body {
	height:100%;
    margin: 0;
}

a, button {
    cursor: pointer;
}

.wrap {
    margin: 0 20px 0 2px;
}

/*----------------------------------------------------------------------------------------------------------

　　WIX Admin Settings

  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#contents {
    clear: both;
    /*overflow: hidden;*/
    background: #f7f7f7;
    width: 96.2%;
    height: 80vh;
    padding: 20px;
}
.tabbox {
    display: none;
}

/* ウィンドウタブ部分 */
ul#tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#tab li:last-child {
    background: none;
}
ul#tab li a {
    display: block;
    width: 138px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#tab li.active,
ul#tab li.active a,
ul#tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* モーダルウィンドウ部分 */
.contentsBody .edit_popTable {
    width: 100%;
}
.contentsBody .edit_popTable tbody {
    background-color: #FFFFEE;
}
.contentsBody .edit_popTable .edit_popTableTr {
    background-color: #99FFFF;
}
.contentsBody .edit_popTable .edit_entryTr {
    width: 100%;
}
.contentsBody .edit_popTable .edit_entryTr td {
    width: 100%;
}
.contentsBody .edit_popTable .edit_entryTr .edit_keywordTd {
    width: 30%;
}
.contentsBody .edit_popTable .edit_entryTr .edit_TargetTd {
    width: 70%;
}
.contentsBody .edit_popTable .edit_entryTr input {
    width: 100%;
}

.contentsBody .delete_popTable {
    border-collapse: collapse;
}
.contentsBody .delete_popTable tbody {
    background-color: #FFFFEE;
}
.contentsBody .delete_popTable .delete_popTr {
    background-color: #99FFFF;
    border-bottom:1px;
}
.contentsBody .delete_popTable tr {
    border-bottom:1px dashed #ccc;
}
.contentsBody .delete_popTable .delete_keywordTd {
    border-right: 1px solid #ccc;
}


.contentsBody #insert_popTableDiv {
    width: 100%;
}
.contentsBody #insert_popTableDiv .insert_popTable {
    width: 100%;
    border-collapse: collapse;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_popTr {
    width: 100%;
    border-bottom:1px solid #000;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_entryTr {
    width: 100%;
    border-bottom:1px solid #ccc;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_entryTr .insert_keywordTd {
    width: 30%;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_entryTr .insert_targetsTd {
    width: 60%;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_entryTr .insert_checkTd {
    width: 10%;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_entryTr .insert_targetsTd .insert_targetDiv {
    width: 100%;
}
.contentsBody #insert_popTableDiv .insert_popTable .insert_entryTr .insert_targetsTd .insert_targetDiv .insert_targetA {
    width: 100%;
}


#popButtonDiv {
    width:100%;
    height:8%;
}
#popButtonDiv button, #popButtonDiv input[type="submit"]{
    width:20%;
    height:60%;
    padding: 5px auto;
    margin: 15px 30px;


    font-size: 10pt;
    font-weight: bold;
    background-color: #248;
    color: #fff;
    border-style: none;

}


/*----------------------------------------------------------------------------------------------------------
　　Tab 1
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#wix_settings {
    width: 30%;
    height: 100%;
    float: left;
    font-size: 10pt;
}
#wix_settings_form {
    width: 95%;
}
#wixfile {
    width: 70%;
    height: 100%;
    float: left;
}
#wixfile_operation_contents {
    clear: both;
    width: 60%;
    height: 100%;
    float: left;
    overflow: auto;
    background: #f7f7f7;
}
#wixfile_contents {
    clear: both;
    width: 100%;
    overflow: auto;
    background: #f7f7f7;
}
.wixfile_tabbox {
    display: none;
    width: 100%;
    font-size: 15px;
    float: left;
}
#wixfile_iframe {
    float: left;
    width: 40%;
    height: 100%;
    margin-top: 4%;
    font-size: 10pt;
}

/* 初期設定項目部分 */
#init_settings {
    height: 30vh;
    overflow: auto;
}

/* オプション部分 */
#option_settings {
    width: 100%;
    height: 46vh;
    overflow: auto;
}
.contents_option {
    width: 100%;
    margin-bottom: 10%;
}
.contents_option strong {
    font-size: 13pt;
}
.contents_option fieldset{
    margin-top: 3%;
}
.contents_option input{
    display: none;
}
.contents_option label {
    display: block;
    float: left;
    cursor: pointer;
    width: 20%;
    margin: 0;
    padding: 10px;
    background: #bdc3c7;
    color: #869198;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
.contents_option label:first-of-type {
    border-radius: 3px 0 0 3px;
}
.contents_option label:last-of-type {
    border-radius: 0 3px 3px 0;
}
.contents_option input[type="radio"]:checked + .switch-on {
    background-color: #CCCCFF;
    color: #fff;
}
.contents_option input[type="radio"]:checked + .switch-off {
    background-color: #e67168;
    color: #fff;
}

#wix_settings_button, #wix_init_settings_button {
    float: right;
    margin-right: 25px;
    margin-top: 2%;
}

/* WIXファイル タブ部分*/
.wixfile_table {
    width: 100%;
}
ul#wixfile_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#wixfile_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#wixfile_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#wixfile_tab li:last-child {
    background: none;
}
ul#wixfile_tab li a {
    display: block;
    width: 100px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#wixfile_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#wixfile_tab li.active,
ul#wixfile_tab li.active a,
ul#wixfile_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* WIXファイルテーブル部分*/
.wixfile_table {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wixfile_table tbody{
    width: 100%;
}
.wixfile_table tr {

}
.wixfile_table td, th {
    height: 100%;
}
.wixfile_table input[type="text"] {
    height: 100%;
    width: 95%;
}
.wixfile_even, .wixfile_odd {
    width: 100%;
}
.wixfile_entry_select {
    width: 7%;
}
.wixfile_entry_edit, .wixfile_entry_delete {
    width: 8%;
    font-size: 10pt;
}
.wixfile_keyword, .wixfile_target, .wixfile_keyword_edit, .wixfile_target_edit {
    width: 30%;
}

/* 各種まとめて操作部分 */
#wixfile_entry_operation {
    clear: both;
    font-size: 10pt;
    vertical-align: bottom;
}
#wixfile_each_operation {
    margin-left: 2vh;
    font-size: 9pt;
}

/* インラインフレーム部分 */
#wixfile_iframe_inline_div {
    width: 100%;
    /*height: 63vh;*/
    height: 53vh;
}
#wixfile_entry_iframe {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}

/* エントリ挿入部分 */
#newEntry {
    float: right;
    margin-top: 2%;
    width: 40%;
}
#newEntry legend {
    font-size: 15px;
    font-weight: bold;
}
#newEntry input[type="text"] {
    height: 100%;
    width: 95%;
}
#entry_insert_result {
    width: 100%;
    height: 3vh;
}
#add_wixfile_entry {
    float: right;
}


#wixfile_settings_button {
    float: right;
    margin-right: 2%;
}


/*----------------------------------------------------------------------------------------------------------
　　Tab 2
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#tab2 {
    clear: both;
    overflow: auto;
}
#createdDoc {
    width: 22%;
    /*height: 74vh;*/
    float: left;
}
.doc_tabbox {
    display: none;
    width: 100%;
/*    overflow: scroll;*/
}
#second_wixfile {
    width: 40%;
    height: 100%;
    /*height: 55vh;*/
    margin-left: 2%;
    float: left;
}
#second_wixfile_operation_contents {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
#second_wixfile_contents {
    clear: both;
    width: 100%;
    background: #f7f7f7;
}
.second_wixfile_tabbox {
    display: none;
    width: 100%;
    font-size: 13px;
    float: left;
}
#default_entry_decision {
    width: 20%;
    height: 10vh;
    /*float: left;*/
    border: 1px solid blue;
}
#doc_list_iframe {
    float: left;
    width: 33.5%;
    height: 100%;
    margin-left: 2%;
}
#second_newEntry {
    float: right;
    margin-top: 3%;
    width: 33%;
}


/* ドキュメントタブ部分*/
ul#doc_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
}
ul#doc_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#doc_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#doc_tab li:last-child {
    background: none;
}
ul#doc_tab li a {
    display: block;
    width: 103px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#doc_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#doc_tab li.active,
ul#doc_tab li.active a,
ul#doc_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* ドキュメントリスト部分 */
#doc_list {
    clear: both;
    width: 100%;
    height: 76vh;
    overflow: auto;
}
.doc_table {
    width: 100%;
    table-layout:fixed;
}
.doc_table .doc_table_heading {
    text-align: left;
    width: 100%;
}

/* WIXファイル タブ部分*/
.second_wixfile_table {
    width: 100%;
}
ul#second_wixfile_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#second_wixfile_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#second_wixfile_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#second_wixfile_tab li:last-child {
    background: none;
}
ul#second_wixfile_tab li a {
    display: block;
    width: 55px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#second_wixfile_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#second_wixfile_tab li.active,
ul#second_wixfile_tab li.active a,
ul#second_wixfile_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}


/* WIXファイルテーブル部分*/
.second_wixfile_table {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.second_wixfile_table td, th {
    height: 100%;
}
.second_wixfile_table input[type="text"] {
    height: 100%;
    width: 95%;
}
.second_wixfile_table .wixfile_even, .wixfile_odd {
    width: 100%;
}
.second_wixfile_table .wixfile_entry_select {
    width: 7%;
}
.second_wixfile_table .wixfile_entry_edit, .second_wixfile_table .wixfile_entry_delete {
    width: 8%;
    font-size: 10pt;
}
.second_wixfile_table .wixfile_keyword, .second_wixfile_table .wixfile_target,
 .second_wixfile_table .wixfile_keyword_edit, .second_wixfile_table .wixfile_target_edit {
    width: 30%;
}


/* 各種まとめて操作部分 */
#second_wixfile_entry_operation {
    clear: both;
    font-size: 10pt;
    vertical-align: bottom;
}
#second_wixfile_each_operation {
    margin-left: 2vh;
    font-size: 9pt;
}

#iframe_exam {
    text-align: center;
}


/* インラインフレーム部分 */
#doc_list_iframe_inline_div {
    width: 100%;
    height: 54vh;
}
#doc_iframe {
    border : 1px solid green;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}
/*#doc_iframe_text {
    width: 90%;
}*/


/* エントリ挿入部分 */
#second_newEntry legend {
    font-size: 15px;
    font-weight: bold;
}
#second_newEntry input[type="text"] {
    height: 100%;
    width: 95%;
}
#second_entry_insert_result {
    width: 100%;
    height: 3vh;
}
#second_add_wixfile_entry {
    float: right;
}

/*----------------------------------------------------------------------------------------------------------
　　Tab 3
  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#tab3 {
    clear: both;
    overflow: auto;
}
#third_createdDoc {
    width: 20%;
    float: left;
}
.third_doc_tabbox {
    display: none;
    width: 100%;
}
#recommend_contents {
    width: 39%;
    height: 100%;
    float: left;
    margin-left: 2%;
}
.recommend_entrys_tabbox {
    display: none;
    width: 100%;
}
#third_doc_list_iframe {
    float: left;
    width: 36%;
    height: 100%;
    margin-left: 2.5%;
}
#existing_wixfile_entrys {
    float: left;
    width: 36%;
    height: 20vh;
    margin-left: 2.5%;
    margin-top: 1%;
    border : 1px solid blue;
}

/* ドキュメントタブ部分*/
ul#third_doc_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;
}
ul#third_doc_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#third_doc_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#third_doc_tab li:last-child {
    background: none;
}
ul#third_doc_tab li a {
    display: block;
    width: 102px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#third_doc_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#third_doc_tab li.active,
ul#third_doc_tab li.active a,
ul#third_doc_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* ドキュメントリスト部分 */
#third_doc_list {
    clear: both;
    width: 100%;
    height: 76vh;
    overflow: auto;
}
.third_doc_tabbox .doc_table {
    width: 100%;
    table-layout:fixed;
}
.third_doc_tabbox .doc_table .doc_table_heading {
    text-align: left;
    width: 100%;
}

/* エントリ推薦タブ部分 */
ul#recommend_entrys_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 100%;

    font-size: 10pt;
}
ul#recommend_entrys_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#recommend_entrys_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#recommend_entrys_tab li:last-child {
    background: none;
}
ul#recommend_entrys_tab li a {
    display: block;
    width: 98px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#recommend_entrys_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#recommend_entrys_tab li.active,
ul#recommend_entrys_tab li.active a,
ul#recommend_entrys_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* エントリ推薦部分 */
#recommend_entrys {
    clear: both;
    width: 100%;
    height: 71vh;
    overflow: auto;
}
/*.third_doc_tabbox .doc_table {
    width: 100%;
    table-layout:fixed;
}*/
#recommend_entrys_table {
    width: 100%;
}
#recommend_entrys_table tr {
    width: 100%;
}
#recommend_entrys_table thead {
    width: 100%;
}
#recommend_entrys_table thead #thead_keywords {
    width: 40%;
}
#recommend_entrys_table thead #thead_targets {
    width: 60%;
}

#recommend_entrys_table tbody {
    width: 100%;
    float: top;
}
#recommend_entrys_table tbody tr #recommend_keywords {
    width: 40%;
    vertical-align: top;
}
#recommend_entrys_table tbody tr #recommend_keywords div {
    width: 100%;
}
#recommend_entrys_table tbody tr #recommend_keywords div table {
    width: 100%;
}
#recommend_entrys_table tbody tr #recommend_keywords div table tr {
    width: 100%;
}
#recommend_entrys_table tbody tr #recommend_keywords div table tr td {
    width: 100%;
    cursor: pointer;
}
#recommend_entrys_table tbody tr #recommend_keywords div table tr td tr {
    width: 100%;
}
#recommend_entrys_table tbody tr #recommend_targets {
    width: 60%;
    vertical-align: top;
}
#recommend_entrys_table tbody tr #recommend_targets div {
    width: 100%;
}
#recommend_entrys_table tbody tr #recommend_targets div table {
    width: 100%;
}
#recommend_entrys_table tbody tr #recommend_targets div table tr {
    width: 100%;
}
.candidate_targets_inner_tr .candidate_targets_inner_td {
    width: 90%;
}
.candidate_targets_inner_tr .candidate_targets_inner_td2 {
    width: 10%;
}
#add_wixfile {
    float: right;
    margin-top: 3%;
}

/* インラインフレーム部分 */
#third_doc_list_iframe_inline_div {
    width: 100%;
    height: 60vh;
}
#third_doc_list_iframe_inline_div #third_doc_iframe {
    border : 1px solid orange;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(1);
    -ms-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}



/*----------------------------------------------------------------------------------------------------------

　　WIX Similarity

  ----------------------------------------------------------------------------------------------------------*/

.left{
    float: left;
    width: 30%;
    height: 100%;
    font-size: 10pt;
    overflow: hidden;
    border: 1px solid white;
}
#wix_similarity_form {
    height: 90vh;
    width: 100%;
    overflow: auto;
}
#wix_similarity_form a{
    text-decoration: none;
}



.top{
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#frame-box {
    width: 100%;
    height: 40vh;
}
#frame-page {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}


.bottom {
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#bottom_contents {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}
#similarity_info {
    float: left;
    width: 60%;
    height: 50vh;
    border: 1px solid blue;
    overflow: auto;
}
#similarity_entrys {
    width: 100%;
}
#wixfile_info {
    width: 39%;
    height: 50vh;
    border: 1px solid red;
    overflow: auto;
}



.left table,.left th,.left td,.top table,.top th,.top td, .bottom table,.bottom th,.bottom td{
    font-size:10pt;
}

/*.main h2,.main h3,.left h4,.right h4,.left h5,.right h5{
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    height:30px;
    line-height:30px;
    background-position:top left;
    background-repeat:no-repeat;
    overflow: hidden;
}*/

/*.left h4,.right h4{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./images/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/
/*.left h5,.right h5{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./image/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/




