@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------

　　初期設定

  ----------------------------------------------------------------------------------------------------------*/

html, body {
	height:100%;
    margin: 0;
}

/*----------------------------------------------------------------------------------------------------------

　　WIX Admin Settings

  ----------------------------------------------------------------------------------------------------------*/

.decide_management {
    position: relative; width: 126px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.decide_management-checkbox {
    display: none !important;
}
.decide_management-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E64C4C; border-radius: 20px;
}
.decide_management-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.decide_management-inner:before, .decide_management-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.decide_management-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #3455C1; color: #FFFFFF;
}
.decide_management-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.decide_management-switch {
    display: block; width: 20px; margin: 7px;
    background: #FFFFFF;
    border: 2px solid #E64C4C; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 88px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.decide_management-checkbox:checked + .decide_management-label .decide_management-inner {
    margin-left: 0;
}
.decide_management-checkbox:checked + .decide_management-label .decide_management-switch {
    right: 0px; 
}

/*----------------------------------------------------------------------------------------------------------

　　WIX Similarity

  ----------------------------------------------------------------------------------------------------------*/

.left{
    float: left;
    width: 30%;
    height: 100%;
    font-size: 10pt;
    overflow: hidden;
    border: 1px solid white;
}
#wix_similarity_form {
    height: 90vh;
    width: 100%;
    overflow: auto;
}
#wix_similarity_form a{
    text-decoration: none;
}



.top{
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#frame-box {
    width: 100%;
    height: 40vh;
}
#frame-page {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}


.bottom {
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#bottom_contents {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}
#similarity_info {
    float: left;
    width: 60%;
    height: 50vh;
    border: 1px solid blue;
    overflow: auto;
}
#similarity_entrys {
    width: 100%;
}
#wixfile_info {
    width: 39%;
    height: 50vh;
    border: 1px solid red;
    overflow: auto;
}



.left table,.left th,.left td,.top table,.top th,.top td, .bottom table,.bottom th,.bottom td{
    font-size:10pt;
}

/*.main h2,.main h3,.left h4,.right h4,.left h5,.right h5{
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    height:30px;
    line-height:30px;
    background-position:top left;
    background-repeat:no-repeat;
    overflow: hidden;
}*/

/*.left h4,.right h4{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./images/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/
/*.left h5,.right h5{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./image/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/




