@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------

　　初期設定

  ----------------------------------------------------------------------------------------------------------*/

html, body {
	height:100%;
    margin: 0;
}

a {
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------

　　WIX Admin Settings

  ----------------------------------------------------------------------------------------------------------*/
/* 大枠部分 */
#contents {
    clear: both;
    overflow: auto;
    background: #f7f7f7;
    width: 96.2%;
    padding: 20px;
}
.tabbox {
    display: none;
}
#wix_settings {
    width: 30%;
    height: 100%;
    float: left;
    font-size: 10pt;
}
#wixfile {
    width: 70%;
    height: 100%;
    float: left;
}
#wixfile_operation_contents {
    clear: both;
    width: 60%;
    height: 100%;
    float: left;
    overflow: auto;
    background: #f7f7f7;
}
#wixfile_contents {
    clear: both;
    width: 100%;
    overflow: auto;
    background: #f7f7f7;
}
.wixfile_tabbox {
    display: none;
    width: 100%;
    font-size: 15px;
    float: left;
}
.wixfile_iframe {
    float: left;
    width: 40%;
    height: 100%;
    margin-top: 4%;
    font-size: 10pt;
}

/* ウィンドウタブ部分 */
ul#tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#tab li:last-child {
    background: none;
}
ul#tab li a {
    display: block;
    width: 138px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#tab li.active,
ul#tab li.active a,
ul#tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* オプション部分 */
#wix_settings_button, #wix_init_settings_button {
    float: right;
    margin-right: 25px;
}

/* WIXファイル タブ部分*/
.wixfile_table {
    width: 100%;
}
ul#wixfile_tab {
    zoom: 1;
    background: #c9c3c4;
    border-bottom: 3px solid #c81528;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul#wixfile_tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#wixfile_tab li {
    float: left;
    text-align: center;
    margin-bottom: 0px;
}
ul#wixfile_tab li:last-child {
    background: none;
}
ul#wixfile_tab li a {
    display: block;
    width: 100px;
    padding: 4px 0;
    text-decoration: none;
    color: #222;
}
ul#wixfile_tab li a:hover {
    background: #c95560;
    color: #fff;
}
ul#wixfile_tab li.active,
ul#wixfile_tab li.active a,
ul#wixfile_tab li.active a:hover {
    background: #c81528;
    color: #fff;
}

/* WIXファイルテーブル部分*/
.wixfile_table {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*.wixfile_table tbody {
    overflow: hidden;
}*/
.wixfile_table tr {

}
.wixfile_table td, th {
    height: 100%;
}
.wixfile_table input[type="text"] , .wixfile_table input[type="text"] {
    height: 100%;
    width: 95%;
}
.wixfile_even, .wixfile_odd {
    width: 100%;
}
.wixfile_entry_selection {
    width: 7%;
}
.wixfile_entry_edit, .wixfile_entry_delete {
    width: 8%;
}
.wixfile_keyword, .wixfile_target, .wixfile_keyword_edit, .wixfile_target_edit {
    width: 30%;
}

/* 各種操作部分 */
#wixfile_entry_operation {
    clear: both;
}


/* インラインフレーム部分 */
#wixfile_iframe_inline_div {
    width: 100%;
    height: 63vh;
}
#wixfile_entry_iframe {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}

.pWindow {
    left: 40% !important;
    top: 38% !important;
}

#wixfile_settings_button {
    float: right;
}


/*#wixfile_entry_operation {
    clear: both;
}*/

/*----------------------------------------------------------------------------------------------------------

　　WIX Similarity

  ----------------------------------------------------------------------------------------------------------*/

.left{
    float: left;
    width: 30%;
    height: 100%;
    font-size: 10pt;
    overflow: hidden;
    border: 1px solid white;
}
#wix_similarity_form {
    height: 90vh;
    width: 100%;
    overflow: auto;
}
#wix_similarity_form a{
    text-decoration: none;
}



.top{
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#frame-box {
    width: 100%;
    height: 40vh;
}
#frame-page {
    border : 1px solid black;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.99);
    -webkit-transform-origin: 0 0;
    -ms-transform: scale(0.99);
    -ms-transform-origin: 0 0;
    -o-transform: scale(0.99);
    -o-transform-origin: 0 0;
    -moz-transform: scale(0.99);
    -moz-transform-origin: 0 0;
}


.bottom {
    float: right;
    width: 68%;
    height: 100%;
    font-size: 10pt;
}
#bottom_contents {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}
#similarity_info {
    float: left;
    width: 60%;
    height: 50vh;
    border: 1px solid blue;
    overflow: auto;
}
#similarity_entrys {
    width: 100%;
}
#wixfile_info {
    width: 39%;
    height: 50vh;
    border: 1px solid red;
    overflow: auto;
}



.left table,.left th,.left td,.top table,.top th,.top td, .bottom table,.bottom th,.bottom td{
    font-size:10pt;
}

/*.main h2,.main h3,.left h4,.right h4,.left h5,.right h5{
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    height:30px;
    line-height:30px;
    background-position:top left;
    background-repeat:no-repeat;
    overflow: hidden;
}*/

/*.left h4,.right h4{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./images/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/
/*.left h5,.right h5{
    font-size:8pt;
    width:100%;
    text-align:center;
    vertical-align: bottom;
    background-image:url(./image/external-link-icons/PNG/aqua/external-link-aqua02-Shapes4FREE.png);
    background-size: 100%;
}*/




